<ion-view view-title="Actividad">
  <ion-content ng-controller="ActivityCtrl as ac">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="move in ac.moves" type="item-text-wrap">
        <h2>{{move.amount}}</h2>
        <p>{{move.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="ac.remove(move)">
          Borrar
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col">
        <button class="button button-balanced" ng-click="ac.addPlusMove()">Añadir Ingreso</button>
      </div>
      <div class="col">
        <button class="button button-assertive">Añadir Egreso</button>
      </div>
    </div>
  </ion-content>
</ion-view>
