<ion-view view-title="Actividad">
	<ion-content>
		<div class="bar bar-header bar-positive">
			<div class="h1 title">Actividades</div>
			<button class="button button-icon icon ion-plus-round" ng-click="openModal()"></button>
		</div>
		<br>
		<br>
		<ion-list>
			<ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="move in moves" type="item-text-wrap">
        <i ng-show="move.type === 'Ingreso'" class="icon ion-ios-plus"></i>
        <i ng-show="move.type === 'Egreso'" class="icon ion-ios-minus"></i>
				<h2>{{move.amount | currency}}</h2>
				<p>{{move.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-assertive" ng-click="remove(move)">
					Borrar
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
